<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard</title>

  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
    crossorigin="" />

  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
    integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
    crossorigin=""></script>

  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
  <link rel="stylesheet" href="/build/tailwind.css" />
  <link rel="stylesheet" href="/styles/styles.css" />
  <link rel="stylesheet" href="/styles/tailwind.css" />

</head>

<body class="bg-gray-100 font-title">

  <section>
    <%- include('../components/sidebar'); -%>
  </section>

  <div class=" absolute right-0 top-0">
    <%- include('../components/alerts'); -%>
  </div>
  <a href="/register/data">Dados</a>
  <h2>DASHBOARD<h2>

      <main class=" flex-col">
        <div>
          <% datas.forEach((data, i=0)=> { %>
            <div
              class=" flex bg-white border-l-2 border-gray-300 text-xs sm:text-sm md:text-base p-4 sm:p-6 rounded-md m-auto mt-4 w-3/4 max-w-xl lg:max-w-3xl">
              <p>
                <%= i +=1 %>
              </p>
              <div class=" flex justify-between w-full ml-3 sm:ml-6 md:ml-10">

                <p>
                  <%= data.name %>
                </p>
                <p>
                  <%= data.phone %>
                </p>

                <div class=" flex">
                  <button class=" mr-2 md:mr-3" title="Editar"><i class="fal fa-pen md:text-sm"></i></button>
                  <button title="Excluir"><i class="fal fa-trash md:text-sm"></i></button>
                </div>
              </div>
            </div>
            <% }) %>
        </div>
      </main>

      <footer>
        <%- include('../components/footer'); %>
      </footer>


      <script src="/scripts/script.js"></script>
</body>

</html>
