<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard</title>

  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
    crossorigin="" />

  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
    integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
    crossorigin=""></script>

  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
  <link rel="stylesheet" href="/build/tailwind.css" />
  <link rel="stylesheet" href="/styles/styles.css" />
  <link rel="stylesheet" href="/styles/tailwind.css" />

</head>

<body class="bg-gray-100 font-title">

  <section>
    <% if(user.scope_id===3) { %>
      <%- include('../components/sidebar'); -%>
        <% } %>
  </section>

  <div class=" absolute right-0 top-0">
    <%- include('../components/alerts'); -%>
  </div>
  <h2>DASHBOARD<h2>

      <main class=" flex-col">

        <div class=" m-auto ">

          <div class=" m-auto ">
            <% if(user.subscription!=='P' && addresses.length>= 1) {%>

              <h1 class=" m-auto ">
                Assine o plano para cadastrar mais endereços
              </h1>
              <hr class=" w-3/5 m-auto" />

              <% } else { %>
                <a href="/vendordata/register">Dados</a>
                </h1>
                <hr class=" w-3/5 m-auto" />
                <% } %>
          </div>

          <div class="cards">


          </div>

          <div class=" m-auto ">
            <% if(addresses.length===0 && user.subscription==='P' ) {%>
              <h1 class=" m-auto ">Você ainda não possui uma unidade cadastrada <%= user.id %>
              </h1>
              <hr class=" w-3/5 m-auto" />
              <% } %>
          </div>
          <% addresses.forEach((address, i=0)=> { %>


            <div data-id="<%= address.id %>">
              <div
                class=" flex bg-white border-l-2 border-gray-300 text-xs sm:text-sm md:text-base p-4 sm:p-6 rounded-md m-auto mt-4 w-4/5 max-w-3xl lg:max-w-5xl">
                <p>
                  <%= i +=1 %>
                </p>
                <div class=" flex justify-between w-full ml-3 sm:ml-6 md:ml-10 sm:flex-wrap">

                  <div class=" flex-1">
                    <p>
                      <%= address.name %>
                    </p>
                  </div>
                  <div class=" hidden md:flex flex-1 justify-center">
                    <p class=" ">
                      <%= address.phone %>
                    </p>
                  </div>
                  <div class=" relative hidden sm:flex flex-1  ">
                    <p class=" absolute right-0 ">
                      algo
                    </p>
                  </div>

                  <div class=" ml-6">
                    <a class=" mr-2 md:mr-3" title="Editar" href="/vendordata/<%= address.id %>">
                      <i class="fal fa-pen md:text-sm"></i>
                    </a>
                    <button title="Excluir" onclick="openModal('open')">
                      <i class="fal fa-trash-alt text-sm"></i>
                    </button>
                  </div>
                </div>
              </div>
              <% }) %>
            </div>
        </div>
      </main>

      <!-- modal -->

      <dialog id="open" class="bg-transparent z-0 relative w-screen h-screen">
        <div
          class="p-7 flex justify-center items-center fixed left-0 top-0 w-full h-full bg-gray-900 bg-opacity-50 z-50 transition-opacity duration-300 opacity-0">

          <div class="shadow-lg rounded-md p-4 bg-white dark:bg-gray-800 w-64 m-auto">
            <div class="w-full h-full text-center">
              <div class="flex h-full flex-col justify-between">
                <img width="40" height="40" class="mt-4 w-12 h-12 m-auto text-black" src="/images/delete.svg"
                  alt="Lixeira">
                <p class="text-gray-800 dark:text-gray-200 text-lg md:text-xl font-bold mt-4">
                  Excluir endereço
                </p>
                <p class="break-words text-gray-600 dark:text-gray-400 text-xs py-2 px-6">
                  Quer mesmo excluir esse endereço?
                </p>
                <div class="flex items-center justify-between gap-4 w-full mt-8">
                  <button type="submit"
                    class="py-2 px-4  bg-red-600 hover:bg-red-700 focus:ring-red-500 focus:ring-offset-indigo-200 text-white w-full transition ease-in duration-200 text-center text-base font-semibold shadow-md focus:outline-none focus:ring-2 focus:ring-offset-2  rounded-md ">
                    Excluir
                  </button>
                  <button type="button" onclick="modalClose('open')"
                    class="py-2 px-4  bg-gray-50 hover:bg-gray-100 focus:ring-indigo-500 focus:ring-offset-indigo-200 text-indigo-500 w-full transition ease-in duration-200 text-center text-base font-semibold shadow-md focus:outline-none focus:ring-2 focus:ring-offset-2  rounded-md ">
                    Cancelar
                  </button>
                </div>
              </div>
            </div>
          </div>

        </div>
      </dialog>

      <footer>
        <%- include('../components/footer'); %>
      </footer>

      <script src="/scripts/modal.js"></script>
      <script src="/scripts/script.js"></script>
</body>

</html>
