<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="#">
  <title>Dashboard</title>

  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
    crossorigin="" />

  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
    integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
    crossorigin=""></script>

  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
  <link rel="stylesheet" href="/build/tailwind.css" />
  <link rel="stylesheet" href="/styles/styles.css" />
  <link rel="stylesheet" href="/styles/tailwind.css" />

</head>

<body class="bg-gray-100 font-title flex flex-col h-screen">

  <%- include('../components/navbar'); -%>

    <%- include('../components/alerts'); -%>

      <main class=" flex-grow">
        <div class=" flex flex-col mx-auto m-7 w-11/12 sm:w-4/5 max-w-4xl">
          <h1 class=" text-lg sm:text-2xl text-left font-bold text-gray-700">
            DASHBOARD
          </h1>
          <p class=" text-xs sm:text-sm">Gerencie sua unidade para anunciar no mapa</p>
        </div>

        <div class=" m-auto w-11/12 sm:w-4/5 max-w-4xl">
          <div>
            <% if(user.subscription!=='P' && addresses.length>= 1) {%>

              <div class="">
                <a href="/profile" class=" text-sm text-gray-600 hover:text-blue-600">
                  Assine o plano para cadastrar mais endereços
                </a>
                <hr class=" mt-2" />
              </div>

              <% } else { %>
                <div class=" grid grid-cols-6 gap-6">
                  <hr class=" col-start-1 col-end-5 my-auto" />
                  <a href="/vendordata/register"
                    class="py-2 px-3 col-end-7 col-span-2 bg-yellow-600 hover:bg-yellow-700 focus:ring-yellow-500 focus:ring-offset-indigo-200 text-white transition ease-in duration-200 text-center text-xs sm:text-sm md:text-base font-semibold shadow-md focus:outline-none rounded-md ">
                    Cadastrar unidade
                  </a>
                </div>
                <% } %>
          </div>
          <div class="cards">
            <div class=" m-auto">
              <% if(addresses.length===0 ) {%>
                <h1 class=" m-auto ">Você ainda não possui uma unidade cadastrada
                </h1>
                <hr class=" w-full m-auto mt-5" />
                <% } %>
            </div>
            <% addresses.forEach((address, i=0)=> { %>

              <div class="card " data-id="<%= address.id %>">
                <div
                  class=" flex bg-white border-l-2 border-gray-300 text-sm sm:text-base p-5 sm:p-6 rounded-md m-auto mt-3 sm:mt-4 ">
                  <p>
                    <%= i +=1 %>
                  </p>
                  <div class=" flex justify-between w-full ml-3 sm:ml-6 md:ml-10 sm:flex-wrap">

                    <div class=" flex-1">
                      <p>
                        <%= address.name %>
                      </p>
                    </div>
                    <div class=" hidden md:flex flex-1 justify-center">
                      <p class=" ">
                        <%= address.phone %>
                      </p>
                    </div>
                    <div class=" relative hidden sm:flex flex-1">
                      <p class=" absolute right-0">
                        algo
                      </p>
                    </div>

                    <div class=" ml-6">
                      <a class=" focus:outline-none" title="Editar" href="/vendordata/<%= address.id %>">
                        <i
                          class="fal fa-pen text-sm text-blue-600 hover:text-blue-700 bg-gray-100 hover:bg-gray-300 px-2 py-1 sm:px-3 sm:py-2 rounded-md transition ease-in duration-200"></i>
                      </a>
                      <button id="buttondelete" title="Excluir" onclick="openModal('open')" class=" focus:outline-none">
                        <i
                          class="fal fa-trash-alt text-sm text-red-600 hover:text-red-700 bg-gray-100 hover:bg-gray-300 px-2 py-1 sm:px-3 sm:py-2 rounded-md transition ease-in duration-200"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <% }) %>
          </div>
        </div>
      </main>

      <!-- modal -->

      <dialog id="open" class="bg-transparent z-0 relative w-screen h-screen">
        <div
          class="p-7 flex justify-center items-center fixed left-0 top-0 w-full h-full bg-gray-900 bg-opacity-50 z-50 transition-opacity duration-300 opacity-0">

          <div class="shadow-lg rounded-md p-4 bg-white dark:bg-gray-800 w-64 m-auto">
            <div class="w-full h-full text-center">
              <div class="flex h-full flex-col justify-between">
                <img width="40" height="40" class="mt-4 w-12 h-12 m-auto text-black" src="/images/delete.svg"
                  alt="Lixeira">
                <p class="text-gray-800 dark:text-gray-200 text-lg md:text-xl font-bold mt-4">
                  Excluir endereço
                </p>
                <p class="break-words text-gray-600 dark:text-gray-400 text-xs py-2 px-6">
                  Quer mesmo excluir esse endereço?
                </p>
                <div class="flex items-center justify-between gap-4 w-full mt-8">
                  <button type="submit" form="delete-vendordata"
                    class="py-2 px-4  bg-red-600 hover:bg-red-700 focus:ring-red-500 focus:ring-offset-indigo-200 text-white w-full transition ease-in duration-200 text-center text-base font-semibold shadow-md focus:outline-none  rounded-md ">
                    Excluir
                  </button>
                  <button type="button" onclick="modalClose('open')"
                    class="py-2 px-4  bg-gray-100 hover:bg-gray-200 focus:ring-indigo-500 focus:ring-offset-indigo-200 text-black w-full transition ease-in duration-200 text-center text-base font-semibold shadow-md focus:outline-none  rounded-md">
                    Cancelar
                  </button>
                </div>
                <form method="post" action="/vendordata/delete" id="delete-vendordata"></form>
              </div>
            </div>
          </div>

        </div>
      </dialog>

      <%- include('../components/footer'); %>

        <script src="/scripts/index.js"></script>
        <script src="/scripts/modal.js"></script>
</body>

</html>
