<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard</title>

  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
    crossorigin="" />

  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
    integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
    crossorigin=""></script>

  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
  <link rel="stylesheet" href="/build/tailwind.css" />
  <link rel="stylesheet" href="/styles/styles.css" />
  <link rel="stylesheet" href="/styles/tailwind.css" />

</head>

<body class="bg-gray-100 font-title">

  <section>
    <%- include('../components/sidebar'); -%>
  </section>

  <main class=" flex">
    <div class=" absolute right-0 top-0">
      <%- include('../components/alerts'); -%>
    </div>

    <section class=" bg-white p-12 rounded-md m-auto mt-10 w-3/4 max-w-xl lg:max-w-3xl">
      <div>

        <h2>Data<h2>
            <p>

              <%= //user.name %>

            </p>
      </div>

      <h1 class=" m-4 md:m-7 text-2xl md:text-3xl text-center font-bold text-gray-700">
        Dados
      </h1>

      <div>
        <div class=" flex justify-center align-middle mt-4">
          <div class="p-5 w-full max-w-xl bg-gray-100 mb-6 rounded">
            <div id="mapid" class="w-auto h-44 md:h-52 rounded"></div>
            <h3 class=" font-normal text-gray-600 text-xs md:text-sm text-center mt-3">Clique no mapa para adicionar a
              localização
            </h3>
          </div>
        </div>
      </div>

      <div>
        <form class=" w-full max-w-xl mx-auto" id="users-form" method="post" action="/register/data/<%= user.id %>">

          <div class=" ">
            <label for="name" class="block mb-2 mt-4 text-sm md:text-base font-bold text-gray-500">Nome</label>
            <input
              class="rounded p-3 md:p-4 w-full flex-1 text-base md:text-lg text-gray-700 border-gray-200 bg-gray-100 focus:bg-gray-200 outline-none"
              type="text" name="name" />
          </div>

          <div class=" ">
            <label for="phone" class="block mb-2 mt-4 text-sm md:text-base font-bold text-gray-500">Telefone</label>
            <input
              class="rounded p-3 md:p-4 w-full flex-1 text-base md:text-lg text-gray-700 border-gray-200 bg-gray-100 focus:bg-gray-200 outline-none"
              type="number" name="phone" />
          </div>

          <input class="rounded p-4 m-2 outline-none text-gray-700 border-gray-200 bg-white" type="text"
            placeholder="Latitude" name="latitude" id="latitude">
          <input class="rounded p-4 m-2 outline-none text-gray-700 border-gray-200 bg-white" type="text"
            placeholder="Longitude" name="longitude" id="longitude">

          <div
            class=" flex justify-center bg-indigo-500 w-full rounded hover:bg-indigo-800 mt-14 transition duration-500 transform hover:-translate-y-1 hover:scale-105">
            <button class=" w-full p-3 text-base outline-none focus:outline-none border-transparent text-white"
              type="submit">Cadastrar</button>
          </div>
        </form>
      </div>
    </section>
  </main>

  <footer>
    <%- include('../components/footer'); %>
  </footer>


  <script>
    const mymap = L.map('mapid').setView([-15.7977541, -47.8997705], 12);

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
      attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
    }).addTo(mymap);
    let marker = null;

    mymap.on('click', function (e) {
      if (marker !== null) {
        mymap.removeLayer(marker);
      }
      marker = L.marker(e.latlng).addTo(mymap);
      let position = marker.getLatLng();

      document.getElementById('latitude').value = position.lat;
      document.getElementById('longitude').value = position.lng


      console.log("You clicked the map at " + position.lat);
      console.log("You clicked the map at " + position.lng);
    });
  </script>
  <script src="/scripts/script.js"></script>
</body>

</html>
